<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Организации</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
    .addbar {
     width:200px;
     height:400px;
     float:left;
     }
     .content{
     width:900px;
     margin-left:230px;}
     
    </style>
</head>
<body class="container">
<div>
<div class="addbar">
<a class="btn btn-outline-dark" href="/">Back</a>
{% if request.user.is_authenticated and request.user.player.stbool %}
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите название</label><br>
            <input type="text" name="name"  required/>
        </p>
        <p>
            <label>Введите год основания</label><br>
            <input type="number" name="age" required/>
        </p>
        <p>
            <label>Введите город</label><br>
            <input type="text" name="number" required/>
        </p>
        <p>
            <label>Введите телефон организации</label><br>
            <input type="text" name="city1" required/>
        </p>
        <input type="submit" value="Сохранить" > 
</form>
{% endif %}
</div>

<div class="content">
<div style="width:400px;margin-top:15px;">

<form  class="form-inline my-2 my-lg-0" action="{% url 'org' %}">
<div style="width:200px;float:left;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aaria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
<select class="form-control" style="width:200px" name="select">
  <option value="1">Название\Год</option>
  <option value="2">Город</option>
  <option value="3">Телефон</option>
</select>
</form>
</div>
    {% if org.count > 0 %}
    <h2>Список организаций</h2>
    <table class="table">
        <tr><th>Имя</th><th>Год основания</th><th>Город</th><th>Телефон</th><th></th></tr>
        {% for books in org %}
        {% if not books.name == "null" %}
        <tr><td>{{ books.name }}</td><td>{{ books.age }}</td>
        <td>
            {% for number in books.number.all %}
            {{ number.name }}
            {% endfor %}
            </td>
        <td>
            {% for citys in books.city.all %}
            {{ citys.name }}
            {% endfor %}
            </td>
{% if request.user.is_authenticated and not request.user.player.org == books and not books.player and request.user.player.stbool %}
    <td><a href="take_org/{{books.id}}">Вступить</a></td>
{% elif request.user.is_authenticated and request.user.player.org == books  and request.user.player.stbool %}
        <td><a href="put_org/">Покинуть</a></td>
{% elif request.user.player.stbool %}
        <td><a href="" style="color:red; text-decoration: none; cursor:default; link:block">Занято</a></td>
{% endif %}   
{% endif %}        
        {% endfor %}
    </table>
    {% endif %}
</div>
</div>

</body>

</html>